* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Lucida Console', monaco, 'Courier New', Courier, monospace;
  letter-spacing: 0.4px;
  line-height: 1.4;
  font-size: 0.8rem;
  color: #7afa50;
}

body {
  --bgc: #000;
  --fgc: #7afa50;
  --bdrc: #fff;
  --cnt-m: 20px;
  --cnt-p: 20px;
  --bdr-r: 0.25rem;
}

div.termLike.termLikeRoot {
  overflow: hidden;
  background-color: var(--bgc);
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  inset: 0px;
  /* padding: 10px 20px; */
}

div.termLike.containerMain {
  overflow-y: scroll;
  background-color: var(--bgc);
  border: 0.05rem solid var(--bdrc);
  border-radius: 0.25rem;
  position: absolute;
  padding: var(--cnt-p);
  margin: var(--cnt-m);
  inset: 0px;
}

.termLike input {
  width: 20ch;
  height: auto;
  background-color: var(--bgc);
  color: var(--fgc);
  /* color: #fff; */
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
}

.termLike input:focus {
  outline: none;
}

.termLike .textarea {
  font-family: inherit;
  font-size: inherit;
  display: inline;
  min-width: 10ch;
  text-transform: none;
  word-wrap: break-word;
  resize: both;
}
